<h1>Search by Categories</h1>
<ul>
  <li><a href="/categories/furniture">furniture</a></li>
  <li><a href="/categories/freestuff">free stuff</a></li>
  <li><a href="/categories/services">services</a></li>
  <li><a href="/posts">all posts</a></li>
</ul>
